.headt{
    padding: 30px;
    text-align: center;
    background: white;
}
.container{
    box-sizing: border-box;
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.header h1 {
    font-size: 50px;
  }
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
  border-radius: 4px;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
    width: 80vw;
    /* border: 2px solid red; */
}

.headt.container {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.content {
    min-width: 25vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    /* grid-gap: 2px; */
    /* background-color: #2196F3; */
    margin-bottom: 16px;
}

.gridContainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.listItem {
    display: flex;
    flex-direction: column;
    margin: 32px;
    padding: 32px;
    border: 2px solid green;
    font-size: 1.4rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnUpdate {
    background-color: #4CAF50;
    ;
}

.btnDelete {
    background-color: #f44336;
}

.btnGet {
    background-color: burlywood;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}
.tex{
    column-count: 2;
  column-gap: 40px;
}
.ordercar{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.pagination {
    display: inline-block;
  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }